* {
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth; 
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(0, 0, 0);
}

header {
    background-color: darkcyan;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-link {
    text-transform: uppercase;
    padding: 0px 12px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    line-height: 35px;
}

.section-profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}

.section-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.section-title {
    text-transform: uppercase;
}

.contacts-list-item a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
    width: 50%;
}

.section-profile {
    width: 100%;
  }

.link-cv {
    text-decoration: none;
    color: black;
}

.rsschool {
    width: 121px;
    height: 45px;
}

footer {
    background-color: darkcyan;
    padding: 20px;
    color: white;
}

footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
